APP_NAME="GNU Notes"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://127.0.0.1:8000
APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_FAKER_LOCALE=fr_FR

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5435
DB_DATABASE=gnu_notes
DB_USERNAME=gnu_app
DB_PASSWORD=
DB_SSLMODE=prefer

SESSION_DRIVER=file
SESSION_ENCRYPT=true
CACHE_STORE=file
QUEUE_CONNECTION=sync
LOG_CHANNEL=single
LOG_LEVEL=info
BCRYPT_ROUNDS=12
SANCTUM_EXPIRATION=480
MAIL_MAILER=log
